/* body{
    padding: 10%;
} */
body{
    margin-top: 2%;
}
.mianDiv{

    padding: 2%;
    margin-left: 2%;
    margin-right: 2%;
    

}

.parentDiv{
    padding-left: 3%;
    padding-top: 3%;
    display: flex;
    flex-direction: row;
    gap: 2%;


}

.imageDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6%;
    height: 10%;
    border-radius: 100%;
    padding: 0.4%;
    background-color: aqua;
    z-index: 10px;
}

@media only screen and (max-width: 600px) {
    .imageDiv {
        
        padding: 5%;
        height: 4px;
        margin-right: 2%;
    }
}

#userFirstLetter{
    font-weight: bolder;
    font-size: 25px;
}

.footerClass{
    margin-left: 3%;
    margin-right: 3%;
    border-width: 0px;
}
.iconDesign{
    color: antiquewhite;
   margin-right: 0.5%;
}

.paginatioNPage{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}

.blogsDiv{
    margin-top: 2%;
    margin-left: 8%;
    margin-right: 8%;
}

/* .navBarDiv{
    border-bottom-width: 1px;
    border-color: black;
} */

.blogsButton{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -2%;
    width: 135px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: rgb(80, 80, 240);
    border-radius: 7%;
    border-width: 0px;
    margin-bottom: 3%;
    /* transform: scaleX(0.5); */
}

.hireMeFormDiv{
    background-color: aqua;
    padding-left: 18%;
    padding-right: 18%;
}


