<div class="navBarDiv">
    <nav class="navbar navbar-expand-lg bg-transparent ">
      <div class="container-fluid">
        <i data-feather="command"  class="iconDesign"></i>
        <a class="navbar-brand" href="#">Umair's Portfolio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
       
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <form id = "formID" class="d-flex mx-auto" role="search">
              <input class="form-control me-2 bg-transparent" type="search" placeholder="Search here" aria-label="Search" >
              <button class="btn btn-light" id ="buttonStyle"type="submit">Search</button>
            </form>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ml-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/main">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About Me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Blogs</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                More
              </a>
              <ul id = "contactme" class="dropdown-menu ">
                <li><a class="dropdown-item" href="#">About Me</a></li>
                <li><a class="dropdown-item" href="#">Contact US</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/feedback">Feedbacks</a></li>
              </ul>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">Disabled</a>
            </li> -->
          </ul>
          <div class="loginSignupButtons">
            <button type="button" class="btn btn-light">Hire Me</button>
          <button type="button" class="btn btn-dark"><a href="#myContact">Contact Me</a></button>
          
          </div>
          
        </div>
      </div>
    </nav>
  </div> 